<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>About</title>
  </head>
  <body>
    <h1>About</h1>
    <a href="/">Back home</a>
    <p>
      Arnold Alois Schwarzenegger is an Austrian-American actor, former
      bodybuilder, producer, businessman, and former politician who served as
      the 38th governor of California from 2003 to 2011. As of 2021, he is the
      most recent Republican governor of California. Schwarzenegger began
      lifting weights at the age of 15 and went on to win the Mr. Universe title
      at age 20, subsequently winning the Mr. Olympia contest seven times; he
      remains a prominent figure in bodybuilding, and has written many books and
      articles on it. The Arnold Sports Festival, considered the second-most
      important bodybuilding event after Mr. Olympia, is named after him.
    </p>
  </body>
</html>
