<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Works</title>
  </head>
  <body>
    <h1>Works</h1>
    <a href="/">Back Home</a>
    <h3>Arnold Schwarzenegger filmography</h3>
    <!-- CSS Code: Place this code in the document's head (between the 'head' tags) -->

    <!-- HTML Code: Place this code in the document's body (between the 'body' tags) where the table should appear -->
    <table class="table">
      <thead>
        <tr>
          <th>Year</th>
          <th>Title</th>

          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1970</td>
          <td>Hercules in New York</td>
          <td>Hercules</td>
        </tr>
        <tr>
          <td>1973</td>
          <td>The Long Goodbye</td>
          <td>Hood in Augustine’s Office</td>
        </tr>
        <tr>
          <td>1976</td>
          <td>Stay Hungry</td>
          <td>Joe Santo</td>
        </tr>
        <tr>
          <td>1977</td>
          <td>Pumping Iron</td>
          <td>Himself</td>
        </tr>
        <tr>
          <td>1979</td>
          <td>The Villain</td>
          <td>“Handsome Stranger”</td>
        </tr>
        <tr>
          <td>1986</td>
          <td>Predator</td>
          <td>Major Alan "Dutch" Schaefer</td>
        </tr>
        <tr>
          <td>1985</td>
          <td>Commando</td>
          <td>Colonel John Matrix</td>
        </tr>
        <tr>
          <td>1984</td>
          <td>Conan the Destroyer</td>
          <td>Conan</td>
        </tr>
        <tr>
          <td>1980</td>
          <td>Conan The Barbarian</td>
          <td>Conan</td>
        </tr>
        <tr>
          <td>1980</td>
          <td>The Comeback</td>
          <td>Himself</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
