body {
  background-color: rgb(194, 248, 231);
}
.table {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #0a0a0a;
  border-style: solid;
  color: #000000;
}
.table td,
.table th {
  border-width: 2px;
  border-color: #0a0a0a;
  border-style: solid;
  padding: 3px;
}
.table thead {
  background-color: #0091ff;
}

a {
  display: block;
  margin: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}

img {
  width: 200px;
  height: auto;
}
